<% include ../partials/header.ejs %>


<br><br>
<h2 style="text-align: center">Your plans <button onclick="window.location='/tasks/new'" class="btn btn-primary">Add new task</button></h2>
<br>

<div class="container">
  <div class="row">
    <div  class="col -lg-4 col-md-6 col-sm-3">
      <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% plans.forEach(function(item){ %>
        <div>
          <a href="/<%= plan.link %>">
          <img class="img-thumbnail" src="<%= item.image %>">
          <div class="caption">
            <h4><%= plan.name %></h4>
          </div>
          <div>
            <button class="btn btn-info btn-sm">View</button>
          </div>
          </a>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>


<% include ../partials/footer.ejs %>