<% include partials/header.ejs %>


<div class="jumbotron">
  <div class="container header">
    <h2 style="text-align: center;">Sign Up</h2><br>
    <div style="max-width: 600px; margin: 0 auto">
      <form method="POST" action="/register">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" required class="form-control" placeholder="">
        </div>
<!--         <div class="form-group">
          <label for="Email Id">Email Id</label>
          <input type="text" name="emailid" required class="form-control" placeholder="">
        </div> -->
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" required class="form-control" placeholder="">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>


<% include partials/footer.ejs %>